{% extends "personal_home.html" %}
{% block content %}
  <div class="container" style="display: flex;flex-direction: column;height: 100vh;overflow: hidden;">
    <form style="flex: 0 1 auto;border: #0a53be 2px solid;padding: 10px;">
      <h2>Add part:</h2>
      <div class="mb-3">
        <label for="add_part_name" class="form-label">Part Name:</label>
        <input type="text" class="form-control" id="add_part_name" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="add_part_cost" class="form-label">Cost:</label>
        <input type="text" class="form-control" id="add_part_cost">
      </div>
        <div  class="row row-cols-6" style="display: flex;justify-content: center;align-items: center">
            <button type="submit" class="btn btn-danger" id="add_part_reset">Reset</button>
            <div></div>
            <button type="submit" class="btn btn-primary" id="add_part_submit">Submit</button>
        </div>
    </form>
    <div class="add-form" style="flex: 1;overflow: auto;">
        <hr/>
        <h2>Part List:</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="category-list">
                        <table class="table table-striped table-hover" id="dataTable" >
                            <thead>
                            <tr>
                                <th>PART NAME</th>
                                <th>COST</th>
                            </tr>
                            </thead>
                            <tbody id="part_list_tbody">
                                {% for part in part_list %}
                                    <tr>
                                        <td>{{part[1]}}</td>
                                        <td>{{part[2]}}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

{% endblock %}