{% extends "personal_home.html" %}
{% block content %}
  <div class="container">
    <div class="add-form">
        <hr/>
        <div class="header row">
            <div class="col-4">
                UNPAID BILL LIST:
            </div>
            <div class="col-5">
                <select class="form-select col-5" id="user_name_select" aria-label="Default select example">
                <option selected value="0">Open this select menu</option>
                  {% for user in unpaid_bill_user %}
                    <option value="{{user[0]}}">{{user[1]}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-3">
               <button class="btn btn-success" id="search_unpaid_bill_by_name">search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="category-list">
                        <table class="table table-striped table-hover" id="dataTable" >
                            <thead>
                            <tr>
                                <th>JOB_DATE</th>
                                <th>CUSTOMER</th>
                                <th>TOTAL_COST</th>
                                <th>COMPLETED</th>
                            </tr>
                            </thead>
                            <tbody id="unpaid_bill_list_tbody">
                                {% for unpaid_bill in unpaid_bill_list %}
                                    <tr>
                                        <td>{{unpaid_bill[1]}}</td>
                                        <td>{{unpaid_bill[6]}}</td>
                                        <td>{{unpaid_bill[3]}}</td>
                                        <td>{{unpaid_bill[4]}}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger pay_bill_btn" data-id="{{unpaid_bill[2]}}" id="pay_bill_btn">pay now</button>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

{% endblock %}